client/.nyc_output
client/build
client/coverage
client/node_modules
client/reports
client/yarn-error.log

server/.nyc_output
server/build
server/coverage
server/node_modules
server/reports
server/yarn-error.log

.git
.vscode
.gitattributes
.gitignore
*.iml
Jenkinsfile
README.adoc
sonar-project.properties
continuous-delivery
